#
# mount disk attached to the local system
#

# complete automounting support for virtual disk
SUBSYSTEMS=="xen", DRIVERS=="vbd", SUBSYSTEM=="block", RUN+="fake_blkid -o udev -p $tempnode", RUN+="/etc/gandi/manage_data_disk.py"
# simple notification for virtual disk. no automounting
#SUBSYSTEMS=="xen", DRIVERS=="vbd", SUBSYSTEM=="block", RUN+="fake_blkid -o udev -p $tempnode", RUN+="/etc/gandi/manage_data_disk.sh"
SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_VENDOR}=="gandi.ne", RUN+="fake_blkid -o udev -p $tempnode", RUN+="/etc/gandi/manage_data_disk.py"

#
# setup network inteface attached to the local system
#
SUBSYSTEMS=="xen", SUBSYSTEM=="net", KERNEL=="eth?", RUN+="/etc/gandi/manage_iface.sh"
SUBSYSTEM=="net", KERNEL=="eth?", RUN+="/etc/gandi/manage_iface.sh"


#
# enable CPU when attached to the local system as they are disabled by default
#
KERNELS=="cpu", ATTR{online}=="0", RUN+="cpu_online"

# newer kernel and/or newer udev (>= 146)
# script cpu_online is using DEVPATH and is installed in /lib/udev
KERNEL=="cpu*", ACTION=="add", SUBSYSTEM=="cpu", RUN+="cpu_online"


#
# manage memory resources 
#
SUBSYSTEM=="memory", RUN+="manage_memory"
