#
# mount disk attached to the local system
#

# complete automounting support for virtual disk
SUBSYSTEMS=="xen", DRIVERS=="vbd", SUBSYSTEM=="block", RUN+="fake_blkid -o udev -p $tempnode", RUN+="/etc/gandi/manage_data_disk.py", OPTIONS+="last_rule"
# simple notification for virtual disk. no automounting
#SUBSYSTEMS=="xen", DRIVERS=="vbd", SUBSYSTEM=="block", RUN+="fake_blkid -o udev -p $tempnode", RUN+="/etc/gandi/manage_data_disk.sh"
SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_VENDOR}=="gandi.ne", RUN+="fake_blkid -o udev -p $tempnode", RUN+="/etc/gandi/manage_data_disk.py", OPTIONS+="last_rule"


#
# setup network inteface attached to the local system
#
SUBSYSTEMS=="xen", SUBSYSTEM=="net", KERNEL=="eth?", RUN+="/etc/gandi/manage_iface.sh", OPTIONS+="last_rule"
SUBSYSTEM=="net", KERNEL=="eth?", RUN+="/etc/gandi/manage_iface.sh", OPTIONS+="last_rule"
KERNELS=="xen", SUBSYSTEM=="xen", ATTR{devtype}=="vif", OPTIONS+="ignore_device"


#
# enable CPU when attached to the local system as they are disabled by default
#
KERNELS=="cpu", ATTR{online}=="0", RUN+="cpu_online", OPTIONS+="last_rule"

# newer kernel and/or newer udev (>= 146)
# script cpu_online is using DEVPATH and is installed in /lib/udev
KERNEL=="cpu*", ACTION=="add", SUBSYSTEM=="cpu", RUN+="cpu_online"
