Source: gandi-hosting-vm3
Section: admin
Priority: optional
Maintainer: Nicolas Chipaux <aegiap@gandi.net>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.7.2

Package: gandi-hosting-vm3
Architecture: all
Depends: openssl,
 udev,
 initscripts | systemd,
 bind9-host,
 sed (>= 4),
 module-init-tools | kmod,
 python,
 acpid,
 acpi-support-base | acpi-support
Suggests: autofs, cloud-init
Conflicts: gandi-hosting-agent, 
 gandi-hosting-agent-schemes,
 gandi-hosting-agent-plugins-internal-debian, 
 gandi-hosting-agent-plugins-internal-unix,
 gandi-hosting-vm,
 gandi-hosting-vm2
Replaces: gandi-hosting-vm, gandi-hosting-vm2
Provides: gandi-hosting-vm, gandi-hosting-vm2
Description: scripts for virtual machine on Gandi IaaS
 Collection of script to handle dynamic resources of virtual
 machine on Gandi IaaS hosting solution. most configuration
 is done during the first and subsequent boot.
 .
 In case of GPT partition on disk, you should install gdisk to
 handle the partitions.
